<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="恒温测试机.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <恒温测试机.Properties.Settings>
            <setting name="QmMax" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="QcMax" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="QhMax" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="QmMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QcMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QhMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TmMax" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TcMax" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ThMax" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TmMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TcMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ThMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PmMax" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PcMax" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PhMax" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PmMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PcMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PhMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Temp1Set" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Temp2Set" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Temp3Set" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Temp4Set" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Temp5Set" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Temp1Range" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Temp2Range" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Temp3Range" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Temp4Range" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Temp5Range" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="t1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="t2" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="t3" serializeAs="String">
                <value>1</value>
            </setting>
        </恒温测试机.Properties.Settings>
    </userSettings>
</configuration>